*.iml
.DS_Store
local.properties

.gradle
**/.gradle/
**/.kotlin/

.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

build/
**/build/

/build-logic/.gradle/
/build-logic/.kotlin/
/build-logic/build/
/build-logic/build/**
/build-logic/build/generated-sources/
/build-logic/build/generated-sources/**
/build-logic/build/kotlin/
/build-logic/build/kotlin-dsl/
/build-logic/build/tmp/

captures
.externalNativeBuild
.cxx
*.class
